
*{
	padding:0px;
	border:none;
	margin: 0 auto;
	font-family: Microsoft YaHei,Arial,sans-serif;
}
body{
	position:absolute;
    top: 0px;
    left: 0px;
    width:100%;
	min-height:800px;
	height: 100%;
    text-align: center;
    background-image:url(../images/loginbg1.jpg);
    background-size: 1360px auto;
    -webkit-background-size: 1360px auto;
    -moz-background-size: 1360px auto; /* 老版本的 Firefox */
    background-repeat:repeat;
    background-position: 50% 0%;
}
a
{
	text-decoration:none;
}
ul
{
	list-style:none;
}
img{border:0;}

input{outline: medium;}

@media screen and (min-width: 1366px){
	body{
		background-size: cover;
	    -webkit-background-size: cover;
	    -moz-background-size: cover; /* 老版本的 Firefox */
	}
}
/*------注册-------*/
.logo{
	position: absolute;
	left: 20px;
	top: 10px;
}
#register{
	display: block;
	width: 221px;
	height: 442px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	margin-top: 200px;
}
.wrap{
	margin-bottom: 10px;
}
.username, .nickname{
	border-radius: 2px 2px 0 0;
}
.email, .Sex{
	border-radius: 0 0 2px 2px;
}
input.placeholder{
	color: #a9a9a9;
}
.inputPack span{
	color: #a9a9a9;
}
.inputPack{
	position: relative;
}

.iconPst{
	position: absolute;
	top: 16px;
	left:20px; 
	margin-top: 2px;
}
.inputPack input{
	width: 165px;
	padding: 19px 0;
	font-size: 12px;
	border-left: 6px solid #FFFFFF; 
	padding-left: 40px;
	vertical-align: middle;
	color: #f79361;
	padding-right: 10px;
}
.textTipPack{
	position: absolute;
	top: 13px;
	left: 230px;
	width: 150%;
	display: none;
}
span.textTipIcon{
	float: left;
	width: 8%;
	color: #f79361;
	font-size: 14px;
	/*margin-top: 1px;*/
}
span.textTip{
	float: left;
	width: 92%;
	text-align: left;
	color: #fff;
	font-size: 14px;
}
input.submit{
	width: 175px;
	padding: 17px 0;
	font-size: 15px;
	border-radius: 2px;
	text-align: center;
	color: white;
	margin-top: 17px;
	cursor: pointer;
	width: 221px;
	transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	background-color: #f79361;
}
input.submit:hover{
	background-color: #E6804E;
}
input.submit:active{
	box-shadow: inset 0 1px 20px rgba(0,0,0,0.075);
}
.bg{
	background-color: #FFFFFF;
	width: 200px;
	padding: 12px 0;
	font-size: 12px;
	vertical-align: middle;
	padding-left: 15px;
	border-left: 6px solid #FFFFFF;
	text-align: left; 
}
.slt{
	border: 1px solid #F2F2F2;
	width: 60px;
	cursor: pointer;
	outline: medium;
	border-radius: 2px;
	font-size: 14px;
	color: #a9a9a9;
}
.slt:hover{
	border: 1px solid #f79361;
}
#male,#female{
	display: none;
}
.check{
	display: none;
}
.sexRadio:checked + label .sexText{
	color: #f79361;
}
}
.sexRadio+ label{
	color: #a9a9a9;
}
.sexRadio:checked + label span.check{
	display: inline-block;
	*display:inline;
	*zoom:1;
	color: #f79361;
}
.sexRadio:checked + label span.empty{
	display: none;
}
.sexLabel{
	cursor: pointer;
	width: 35px;
	display: inline-block;
	*display:inline;
	*zoom:1;
	margin-left: 10px;
	margin-right: 0px;
}
.sexLabel .icon-large{
	font-size: 14px;
}
.sexText{
	float: right;
	font-size: 14px;
}
.passCheck{
	border-radius: 2px;
}








/*--------通用弹框--------*/
#tipBox{
	display: none;
	width: 90%;
	max-width: 480px;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: absolute;
	top: -30px;
	z-index: 99;
	opacity: 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	/*margin: 0 20px;*/
}
.tipHead{
	border-bottom: 1px solid #d3d3d3;
	padding: 12px 20px;
}
.tipHead p{
	display: block;
	float: left;
	margin: 0px;
	margin-top: 4px;
	font-weight: bold;
	font-size: 15px;
	color: #70b5aa;
	font-family: arial;
}
.tipHead span{
	display: block;
	float: right;
	margin: 0px;
	color: #d3d3d3;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	font-size: 13px;
	cursor: pointer;
}
.tipHead span:hover{
	color: #70b5aa;
}
.tipContent{
	border-bottom: 1px solid #d3d3d3;
	text-align: left;
	padding: 14px 22px;
	min-height: 56px;
}
.tipContent p{
	display: block;
    font-size: 13px;
    color: #405955;
}
.clr{
	clear: both;
}
.tipFoot{
	padding: 23px 20px 9px 22px;
}
.tipBtn{
	background-color: #70b5aa;
	border-radius: 2px;
	color: #FFFFFF;
	float: right;
	cursor: pointer;
	padding: 8px 22px;
	font-size: 13px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}	
.tipBtn:hover
{
	background-color: #63ab9f;
}
.tipBtn:active
{
	box-shadow: inset 0 2px 20px rgba(0,0,0,0.3);
}
#mask{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-color: black;
	filter: "alpha(opacity=30)";
	filter:alpha(opacity=30);
	z-index: 9;
}


/*--------修改成功提示--------*/
#success{
	display: none;
	height: 60px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	margin-top: 243px;
}
#success p{
	color: #FFFFFF;
	font-size: 17px;
	padding: 0 20px;
}
#success a{
	color: #15a18a;
}
.OK_color{
	color: #15a18a;
}
#success a{
	text-decoration: underline;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
#success a:hover{
	text-decoration: none;
}
/*--------修改失败提示--------*/
#fail{
	display: none;
	width: 100%;
	height: 60px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	margin-top: 243px;
}
.remove_color,#fail a{
	color: #ff4f4f;
}
#fail a:hover{
	color: #FC2D2D;
}
#fail p{
	color: #FFFFFF;
	font-size: 17px;
	padding: 0 20px;
}
#fail a{
	text-decoration: underline;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
#fail a:hover{
	text-decoration: none;
}

@media screen and (min-width: 1366px){
	body{
		background-size: cover;
	    -webkit-background-size: cover;
	    -moz-background-size: cover; /* 老版本的 Firefox */
	}
}


