@font-face {
	font-family: 'CDMyingbit4012dfb4a6316';
	src: url('../font/handwriting.gif');
	src: url('../font/handwriting.gif?#iefix') format('embedded-opentype'),     url('../font/handwriting.bmp') format('woff'),     url('../font/handwriting.jpg') format('truetype'),     url('../font/handwriting.png#CDMyingbit') format('svg');   
}
.css4012dfb4a6316{
	font-family: 'CDMyingbit4012dfb4a6316';
}