.sprite-2{background:url(../images/sprite/sprite-2.png) no-repeat ;}
.grouptitle{height:58px;width:241px;background-position:0 0;}
.joinus1{height:75px;width:386px;background-position:0 -71px;}
.joinus1-active{height:75px;width:386px;background-position:0 -160px;}
.rdc{height:332px;width:446px;background-position:0 -251px;}
.group4-md{height:417px;width:658px;background-position:0 -602px;}
.group1-md{height:755px;width:658px;background-position:0 -1039px;}

.group3-md{height:504px;width:658px;background-position:0 -2416px;}
.abouttitle{height:119px;width:664px;background-position:0 -2934px;}
.group2-md{height:597px;width:658px;background-position:0 -1807px;}

