.sprite-4{background:url(../images/sprite/sprite-4.png) no-repeat ;}
.arrow{height:13px;width:27px;background-position:0 0;}
.upload-active{height:61px;width:664px;background-position:0 -22px;}
.upload{height:61px;width:664px;background-position:0 -94px;}
.header2{height:140px;width:664px;background-position:0 -168px;}
.title3-active{height:69px;width:672px;background-position:0 -320px;}
.title2{height:69px;width:672px;background-position:0 -403px;}
.title3{height:69px;width:672px;background-position:0 -485px;}
.title1-active{height:69px;width:672px;background-position:0 -565px;}
.title1{height:69px;width:672px;background-position:0 -647px;}
.title2-active{height:69px;width:672px;background-position:0 -728px;}
