.sprite-3{background:url(../images/sprite/sprite-3.png) no-repeat ;}
.g1intro{height:54px;width:207px;background-position:0 0;}
.g1intro-active2{height:54px;width:207px;background-position:0 -61px;}
.g4intro{height:54px;width:238px;background-position:0 -125px;}
.g4intro-active2{height:54px;width:238px;background-position:0 -187px;}
.g2intro{height:54px;width:252px;background-position:0 -251px;}
.g2intro-active2{height:54px;width:252px;background-position:0 -314px;}
.g3intro{height:54px;width:274px;background-position:0 -378px;}
.g3intro-active2{height:54px;width:274px;background-position:0 -441px;}
