@charset "utf-8";



/******************************************
- Title Style
- block Style
- List Style
- Button Style
- Table Style
- Form Style
- Text Style
- Stopgap Class
- Clearfix
*******************************************/

/* ----------------------------------------

- Title Style

---------------------------------------- */

/* title
------------------------------- */

.title03 {
	font-size: 115.4%;
	font-weight: 700;
	margin-bottom: 1em;
}

/* ----------------------------------------

- Section Style

---------------------------------------- */

/* block
------------------------------- */

.block01 {
	padding-top: 28px;
	margin-top: 30px;
	border-top: 1px dotted #d2cab9;
}

/* ----------------------------------------

- List Style

---------------------------------------- */

/* list
------------------------------- */

ul.list01 {
	padding-left: 20px;
}

ul.list01 li {
	list-style-type: disc;
}

/* defaultList
------------------------------- */

.defaultList {
	padding-left: 30px;
}

ul.defaultList li {
	list-style-type: disc;
}

ol.defaultList li {
	list-style-type: decimal;
}

.dateList li {
	padding: 7px 0;
	border-bottom: 1px dotted #d2cab9;
	/* clearfix */
}

.dateList li a,
.dateList li span {
	display: block;
	margin-left: 9em;
	zoom: 1;
}

.dateList li span.date {
	float: left;
	width: 8em;
	margin-left: 0;
}


/* .dlList01 */

.dlList01 {
	margin-top: 20px;
}

.dlList01 dt {
	padding-bottom: 5px;
}

.dlList01 dd {
	padding: 0 0 13px 0.5em;
}


/* ----------------------------------------

- Button Style

---------------------------------------- */

/* btn
------------------------------- */

.btnUnit01 {
	text-align: center;
	margin: 25px 0 10px;
}

.btnUnit01 li {
	display: inline;
	padding: 0 10px;
}

.btnUnit01 li input {
	vertical-align: bottom;
}

.btnUnit02 {
	margin-top: 25px;
}

.btnSubmit01 {
	width: 209px;
	margin: 0 auto;
}

.btnReturn01 {
	width: 133px;
	float: left;
}

/* link
------------------------------- */

a.link01 {
	padding-left: 20px;
	background: url(../../img/common/icon_arrw_01.png) no-repeat 0 0;
	zoom: 1;
	position: relative;
}
a.link01:hover {
	background-position: 0 -20px;
}

/* ----------------------------------------

- Table Style

---------------------------------------- */

/* tbl
------------------------------- */

.tbl01 {
	border-collapse: separate;
	width: 100%;
	margin-bottom: 20px;
	border-top: solid 1px #d2cab9;
}

.tbl01 th,
.tbl01 td {
	padding: 1em 1.5em;
	border: 1px solid #d2cab9;
	border-top-color: #fff;
	border-right: none;
	border-left-color: #fff;
	vertical-align: middle;
}

.tbl01 th {
	background-color: #f2f0eb;
}

.tbl02 {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
}

.tbl02 th,
.tbl02 td {
	padding: 10px;
	border-bottom: 1px dotted #d2cab9;
	vertical-align: top;
	text-align: left;
}

.tbl02 th {
	border-bottom-style: solid;
}

/* col
------------------------------- */

.colWidth05 { width: 5%;}
.colWidth08 { width: 8%;}
.colWidth10 { width: 10%;}
.colWidth15 { width: 15%;}
.colWidth20 { width: 20%;}
.colWidth25 { width: 25%;}
.colWidth30 { width: 30%;}
.colWidth35 { width: 35%;}
.colWidth40 { width: 40%;}
.colWidth45 { width: 45%;}
.colWidth50 { width: 50%;}

/* ----------------------------------------

- Form Style
(input要素的幅度适当的调整)

---------------------------------------- */

input.txt,
textarea.txt {
	padding: 2px;
	border: 1px solid #c8d0d5;
	vertical-align: baseline;
}
select.txt {
	padding: 1px;
	border: 1px solid #c8d0d5;
	background: #fff;
	vertical-align: baseline;
}
input.txt {
	padding: 3px 2px;
}

input.small01 { width: 5em;}
input.small02 {	width: 50px;}

input.medium01 { width: 150px;}
input.medium02 { width: 250px;}
input.medium03 { width: 350px;}

textarea.large01,
input.large01 {
	width: 98%;
}
input.check {
	position: relative;
	top: 2px;
	margin-right: 3px;
}

/*  option and required  */

table td.required,
table td.option {
	font-weight: 400;
	font-size: 85.8%;
	color: #fff;
	vertical-align: middle;
}

td.required p,
td.option p {
	width: 3.5em;
	margin: 0 auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
}

td.option {
	background: #f9f8f7;
}

td.option p {
	background: #ada89b;
}

td.required {
	background: #f9f8f7;
}

td.required p {
	background: #d36d83;
}

.capTbl {
	font-size: 84.6%;
	letter-spacing: 0;
}


/* error
------------------------------- */

input.error,
textarea.error,
select.error {
	border-color: #ff6060;
	background: #fff0f0;
}

input.error:focus,
textarea.error:focus {
	border-color: #ee5959;
}

.errorTxt {
	margin-top: 8px;
	font-size: 83.4%;
	color: #ff0000;
}

/* ----------------------------------------

- Text Style

---------------------------------------- */
.lead01 {
	margin-bottom: 25px;
}

/* ----------------------------------------

- entryBody

---------------------------------------- */

.entryBody {
	min-height: 300px;
	height: auto !important;
	height: 300px;
}

.entryBody div,
.entryBody form,
.entryBody p,
.entryBody ul,
.entryBody ol,
.entryBody dl,
.entryBody address,
.entryBody img {
	margin: 0 0 20px;
}

.entryBody ul,
.entryBody ol {
	padding-left: 25px;
}

.entryBody ul li {
	list-style-type: disc;
}

.entryBody ol li {
	list-style-type: decimal;
}

.entryBody ul.btnUnit01 {
	padding-left: 0;
	margin: 30px 0;
}

.entryBody dl dd {
	margin-bottom: 5px;
}

.entryBody dl dt,
.entryBody strong {
	font-weight: 700;
}

.entryBody em {
	font-style: italic;
}

.entryBody .ebtrySec01 {
	margin-bottom: 35px;
}


/* 以下WP用 */

.entryBody .aligncenter,
.entryBody div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.entryBody .alignleft {
   text-align: left;
   margin-right: 10px;
   margin-bottom: 0;
}

.entryBody .alignright {
	text-align: right;
	margin-left: 10px;
	margin-bottom: 0;
}

.entryBody .wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.entryBody .wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.entryBody .wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}

/* ----------------------------------------

- pager

---------------------------------------- */

.pageNav {
	background: url(../../img/common/dotted_01.png) repeat-x 0 0;
	padding-top: 15px;
	margin-top: 30px !important;
}
ul.pNList {
	padding-left: 0;
	position: relative;
}
ul.pNList li {
	width: 12em;
	list-style-type: none;
}
ul.pNList li.prev {
	float: left;
}
ul.pNList li.next {
	float: right;
	text-align: right;
}
ul.pNList li.prev a {
	zoom: 1;
	position: relative;
}
ul.pNList li.prev a,
ul.pNList li.prev span {
	background: url(../../img/common/nav_prev.png) no-repeat 0 1px;
	padding-left: 20px;
}
ul.pNList li.next a,
ul.pNList li.next span {
	background: url(../../img/common/icon_arrw_01.png) no-repeat 100% 1px;
	padding-right: 20px;
}
ul.pNList li.prev a:hover {
	background-position: 0 -20px;
}
ul.pNList li.next a:hover {
	background-position: 100% -20px;
}
ul.pNList li.npage {
	width: 12em;
	position: absolute;
	left: 50%;
	margin-left: -6em;
	text-align: center;
}
ul.pNList li.npage a {
	text-decoration: none;
	color: #251802;
}


/* ----------------------------------------

- ARW

---------------------------------------- */

a.arw01 {
	background: url(../../img/common/icon_arrw_01.png) no-repeat 0 1px;
	padding-left: 20px;
}


a.arw02 {
	background: url(../../img/common/icon_arrw_02.png) no-repeat 0 0.55em;
	padding-left: 10px;
}



/* ----------------------------------------

- Stopgap Class
(以下是暂定，或不正规的场合使用。通常不使用)

---------------------------------------- */

.clear {
	clear: both;
}

.hidden {
	height: 0;
	width: 0;
	overflow: hidden;
}

.marginTop0 { margin-top: 0;}
.marginTop10 {	margin-top: 10px;}
.marginTop15 {	margin-top: 15px;}
.marginTop20 {	margin-top: 20px;}
.marginTop30 {	margin-top: 30px;}

.marginBtm0 { margin-bottom: 0;}
.marginBtm10 {	margin-bottom: 10px;}
.marginBtm15 {	margin-bottom: 15px;}
.marginBtm20 {	margin-bottom: 20px;}
.marginBtm30 {	margin-bottom: 30px;}

.alignCenter { text-align: center;}
.alignRight { text-align: right;}
.nowrap { white-space: nowrap;}
.breakWord { word-wrap: break-word;}

/* ----------------------------------------

clearfix (基本的class指定不需要，必须的)

---------------------------------------- */

/* Modern Browsers
------------------------------- */

.block01:after,
ul.pNList:after,
.dateList li:after,
.btnUnit02:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	line-height: 0;
}

/* Legacy IE
------------------------------- */


.block01,
ul.pNList,
.dateList li,
.btnUnit02 {
	*zoom: 1;
}