@charset "utf-8";



/* ----------------------------------------

重新定义

---------------------------------------- */

/* 将不必要的地方印刷到印刷的时候
div#header,
div#content div#sub,
div#footer {
	display: none;
}
*/

/* IE6,7印刷对应
------------------------------- */

* html body {
	zoom: 0.8;
}

*:first-child+html {
	zoom: 0.8;
}