.bird{background:url(../img/bird.png) no-repeat ;}
._001{height:267px;width:350px;background-position:-351px 0;}
._000{height:266px;width:350px;background-position:0 0;}
._002{height:265px;width:349px;background-position:-702px 0;}
._003{height:265px;width:349px;background-position:-1052px 0;}
._004{height:265px;width:349px;background-position:-1402px 0;}
._005{height:265px;width:349px;background-position:-1752px 0;}
._006{height:264px;width:349px;background-position:-2102px 0;}
._007{height:265px;width:349px;background-position:-2452px 0;}
._008{height:265px;width:349px;background-position:-2802px 0;}
._009{height:265px;width:349px;background-position:-3152px 0;}
._010{height:265px;width:349px;background-position:-3502px 0;}
._011{height:267px;width:350px;background-position:-3852px 0;}
._012{height:266px;width:350px;background-position:-4203px 0;}
._013{height:266px;width:349px;background-position:-4554px 0;}
