.pull-loading {
	height: 0;
	line-height: 40px;
	font-family: Microsoft Yahei;
	font-size: 15px;
	text-align: center;
	color: rgba(0,0,0,0.4);
	overflow: hidden;
	transition: height .25s;
}

.pull-loading svg {
	display: none;
	vertical-align: -10px;
	margin-right: 3px;
}

.pull-loading_loading,
.pull-loading_end {
	display: none;
}

.pull-loading.loading .pull-loading_loading, .pull-loading.loading svg {
	display: inline;
}
.pull-loading.loading .pull-loading_front {
	display: none;
}

.pull-loading.end .pull-loading_front,
.pull-loading.end .pull-loading_loading {
	display: none;
}

.pull-loading.end .pull-loading_end {
	display: inline;
}









.pull-loading svg path,
.pull-loading svg rect {
  fill: rgba(0,0,0,0.4);
}