@charset "utf-8";
$themecolor: #9C221F;
.header {
	.social {
		padding-left: 52px;
		span {
			display: inline-block;
		}
	}
	.contact .icon {
		display: inline-block;
	}
}
.topbar {
	.nav {
		li {
			border-bottom: 2px solid transparent;
			*zoom: 1;
			&:hover, &.active {
				color: $themecolor;
				border-bottom: 2px solid $themecolor;
			}
		}
	}
}
.bn-content {
	.bn-title {
		h1 {
			position: relative;
			bottom: 30px;
			height: 63px;
			line-height: 90px;
			span {
				background: none;
			}
		}
	}
	.bn-button {
		display: inline-block;
	}
}